.body{
    background-color: bisque;
}

.container{
    display: flex;
    width: 100%;
    height: 500px;
    background-color: rgb(5, 51, 51);
    justify-content: center;
    padding-top: 20px;

}

.card{
    background-color: black;
    width: 50%;
    height: 300px;
    display:ruby;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    box-shadow: 20px 20px  20px rgb(58, 55, 55);
    text-align: center;

}