.body{
background-color:rgb(181, 228, 228);
display: flex;
justify-content: center;
display: block;
align-items: center;
place-items: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 20px;
}

.registercontainer{
background-color: green;
color: aliceblue;
width: 50%;
height : 50%;
padding-top: 5px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;
border-radius: 20px;
}

.maincontainer{
    display:inline-block ;
    justify-content: center;
}

.findcontainer{
background-color: green;
width: 80%;
height : 50%;
padding: 20px;
border-radius: 10px;
display: block;
justify-content: center;
}

.h3{
    justify-content: center;
}

#maintopic{
    font-size: 40px;
    color: rgb(19, 18, 20);
    background-color: aqua;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px;
}

#buttoncontainer{
    display: flex;
    justify-content: center;
}

#registerbutton{
    background-color: black;
    color: white;
}

#findButton{
    background-color: red;
    color: aqua;
}

.sdetails_input{
    border-radius: 10px;
    padding: 10px;
}

