@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=M+PLUS+Rounded+1c&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inconsolata:wght@200..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=M+PLUS+Rounded+1c&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --clora-font: "Playwrite AT", cursive;
}

.cloracontainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.clora {
    font-family: var(--clora-font);
    font-weight: 800;
    font-size: 70px;
}

.scroll-box{
    height: 400px;
}


.trendingItem-container{
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    padding: 5px;
    display: grid;
}

.inputarea {
    margin: 12px;
    border-radius: 5px;
    max-width: 200px;
}

.inputarea:focus {
    box-shadow: 0px 20px 22px rgba(0, 0, 0, 0.15);
}

.btn-area {
    width: 100%;
    display: flex;
    justify-content: end;
}

.btn-secondary {
    margin: 10px;
    background-color: rgb(159, 159, 159) !important;
    color: black !important;
    border: none !important;
}

.btn-secondary:hover {
    background-color: rgb(0, 0, 0) !important;
    color: rgb(211, 211, 211) !important;
}

.item-table-container {
    width: 100%;
    height: 350px;
    scroll-behavior: auto;
}



.add-item-container {
    background-color: #d9e9f9;

}

.edit-item-container {
    background-color: #eef4fb;

}

.delete-item-container {
    background-color: #ffd9d9;
}

/*chat box CSS*/
.chat-box {
    display: flex;
    position: fixed;
    justify-content: flex-end;
    right: 20px;
    bottom: 100px;
    height: 300px;
    margin-right: 110px;
}

.chat-container {
    align-items: flex-end;
}

.chat-widget {
    display: block;
    background-color: #ede8e8;
    width: 250px;
    height: 100%;
    border-radius: 20px;
    flex-direction: column;
    word-break: break-all;
    overflow-y:auto;
    overflow-x:hidden;
}

.select-chat-header {
    border-radius: 20px;
    background-color: #3ea2ff;
    padding: 10px;
    margin-bottom: 10px;
    align-items: center;
}


.chat-header {
    border-radius: 20px;
    background-color: #bdd4ea;
    padding: 10px;
    align-items: center;
}

.select-chat-person {
    padding: 5px;
    background-color: #bdd4ea;
    margin-bottom: 2px;
    border-radius: 2px;
}

.select-chat-person:hover {
    background-color: #0072dd;
    color: #bdd4ea;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    transition: 1s all ease;
}

.count-of-messages {
    display:inline-flex;
    justify-content: end;
    width: 100%;
}

.message-content {
    padding: 10px;
    width: 100%;
}

.typing-indicator {
    display: none;
    top: 100px;
}

.chat-input {
    display: flex;
    position:fixed;
    justify-content: flex-end;
    align-items: center;
    bottom: 100px;
    gap: 1px;
}

#messageInput {
    border: none;
    background-color: 0, 0, 0, 0.1;
    border-radius: 5px;

}

.bi.bi-arrow-up-right-circle-fill {
    background-color: none !important;
    font-size: 20px;
}


.chat-icon-space {
    display:flex;
    position: fixed;
    width: 100%;
    justify-content:flex-end;
    align-self: end;
    bottom: 30px;
}


.chat-icon {
    position: fixed;
    justify-self: center;
    font-size: 40px;
    color: #000000;
    background-color: #dfdede;
    right: 40px;
    bottom: 30px;
    padding: 10px;
    border-radius: 20px;
}


