@import url('https://fonts.googleapis.com/css2?family=Betania+Patmos+In&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Betania+Patmos+In&display=swap');
.body {

    background-color: rgb(150, 249, 249);
}

.container {
    width: 100%;
    height: auto;
    display: flex;

    column-gap: 10px;

}

#firstrow {
    background-color: black;

}

.clora {
    font-family: "Betania Patmos In", cursive;
    font-size: 70px;
    color: antiquewhite;
    margin-left: 5px;
}

#secondrow {
    margin-top: 100px;
    height: auto;
    display:flex;
    flex-direction: row;
}

#innerrow {
    display: flexbox;
}

.signupcontainer{
    display: block;
    justify-content: center;
}



.card {
      font-family: "Nunito", sans-serif;
      background-color: rgb(255, 255, 255);
      margin-right: 20px;
      height: auto;
      border-radius: 6px;
      box-shadow: 0px 10px 5px rgb(124, 123, 123);
      width: 350px;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

}

.card:hover{
    transition: all 2s ease;
    transform: scaleY(1.05);
    box-shadow: 10px 10px 35px rgb(124, 123, 123);

}


.form-floating.is-invalid{
    margin:5px;
    border-color: black;
}

.form-control.is-invalid {
    border-color: black;
}

.form-control.is-invalid:hover {
    transition: all 0.5s ease;
    transform: scale(1.05);
}

.inputarea:hover{
    transition: all 1s ease;
    transform: scale(1.1);
    background-color: rgb(236, 236, 236);
    font-weight: 700;
    box-shadow: 0px 2px 35px rgb(124, 123, 123);
}

#buttonarea {
    display: flex;
    justify-content: center;
}


.button {
    width: 300px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin-top: 10px;
    background: #006966;
    font-weight: 600;
}

.button:hover {
    transition: all 0.5s ease;
    transform: scale(1.1);
    color: #ffffff;
    background: #003a36;
}

#innerrcolumn {
    background-image: url("/images/signup.jpg");
    background-size: cover;
    border-radius: 5px;
    height: auto;
}

#innerrcolumn:hover{
    transition: all 1.5s ease;
    transform: scale(1.1);
    box-shadow: 0px 2px 35px rgb(124, 123, 123);
}


@media (max-width:800px) {
    #secondrow{
        flex-direction: column !important;
        height: auto;
    }
}