@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Bungee&family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Dosis:wght@200..800&family=Playwrite+IE:wght@100..400&family=Quicksand:wght@300..700&family=Ribeye+Marrow&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=SN+Pro:ital,wght@0,200..900;1,200..900&family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap');

.main-container {
    display: grid;
    justify-self: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 400px;
    width: 75%;
    border: 2px solid #b4b4b4;
    border-radius: 10px 50px;
    background-color: #F4F1EE;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.msg-row {
    font-family: "Cascadia Mono", sans-serif;
    font-size: 40px;
    color: #6a6a6a;
}

.clora-row {
    width: 100%;
    color: #F8FAFC;
    background-color: #2D2D2D;
    border-radius: 30px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.clora {
    font-family: "Playwrite IE", cursive;
    font-size: 45px;
    padding: 15px;
}