<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>

    <!-- External css -->
    <link rel="stylesheet" href="/css/Admindash.css">

    <!--Bootrstap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"></head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
</head>

<body>
<div class="cloracontainer">
    <h2 class="clora">Clora</h2>
</div>

<section class="py-5">
    <div class="container-fluid show-all-items p-3" style="border: 1px solid black;">
        <h3 style="text-align: center;"><u>Item Details</u></h3>
        <span><button id="showtrendingItems" class="btn btn-danger"  type="submit">Show Items Details</button></span>

        <div class="container py-3 item-table-container">
            <table class="table table-bordered table-striped table-hover">
                <thead class="table-dark">
                <tr>
                    <th>Item-ID</th>
                    <th>Item-Brand-ID</th>
                    <th>Item-Name</th>
                    <th>Item-Quantity</th>
                    <th>Item-Unit-Price</th>
                    <th>Item-Sold-Count</th>
                    <th>Item-Thumbnail-image</th>
                </tr>
                </thead>
                <tbody id="show-all-items-table-body">

                </tbody>
            </table>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container-fluid trendingItem-container">
        <div class="row g-5">
            <div class="col-md-4 add-item-container">

                <h3>Add Trending Item</h3>

                <div class="container-form ">
                    <form id="trendingItemsInsertingForm">
                        <label for="">Enter product name:</label>
                        <input id="item_name" name="item_name" class="inputarea" type="text" placeholder="ex : shirt01">
                        <br>
                        <label for="">Enter product brand ID :</label>
                        <input id="brand_item_id" name="brand_item_id" class="inputarea" type="text" placeholder="ex : T1">
                        <br>
                        <label for="">Item quantity :</label>
                        <input id="item_quantity" name="item_quantity" class="inputarea" type="text" placeholder="ex : 20">
                        <br>
                        <label for="">Item price :</label>
                        <input id="item_price" name="item_price" class="inputarea"type="text" placeholder="ex : 2500">
                        <br>
                        <label for="">Item sold count :</label>
                        <input id="item_sold_count" name="item_sold_count" class="inputarea" type="text" placeholder="ex : 10">
                        <br>
                        <label for="">Thumbmnail <br> Image name:</label>
                        <input id="thumbnail_img_name" name="item_thumbnail_img_name" class="inputarea" type="text" placeholder="block1.png">
                        <br>
                        <label for="">Thumbnail Image :</label>
                        <input id="thumbnail_img" name="item_thumbnail_img" class="imageinsert" type="file" accept="image/**">
                        <br><br>

                        <!--Image preview-->
                        <div class="preview-box">
                            <img id="thumbnail-image-preview" alt="preview">
                            <div class="image-name" id="thumbnail_img_display_name"></div>
                        </div>

                        <br>
                        <label for="">Detail <br> Image01 name:</label>
                        <input id="detail_img01_name" name="item_detail_img01_name" class="inputarea" type="text" placeholder="block1.png">
                        <br>
                        <label for="">Detail Image01 :</label>
                        <input id="detail_img01" name="item_detail_img01" class="imageinsert" type="file" accept="image/**">
                        <br><br>

                        <!--detailed Image preview-->
                        <div class="preview-box">
                            <img id="detail-image01-preview" alt="preview">
                            <div class="image-name" id="detail_img01_display_name"></div>
                        </div>

                        <br>
                        <label for="">Detail <br> Image02 name:</label>
                        <input id="detail_img02_name" name="item_detail_img02_name" class="inputarea" type="text" placeholder="block1.png">
                        <br>
                        <label for="">Detail Image02 :</label>
                        <input id="detail_img02" name="item_detail_img02" class="imageinsert" type="file" accept="image/**">
                        <br><br>

                        <!--detailed Image preview-->
                        <div class="preview-box">
                            <img id="detail-image02-preview" alt="preview">
                            <div class="image-name" id="detail_img02_display_name"></div>
                        </div>

                        <div class="btn-area">
                            <button type="submit" class="btn btn-secondary">Add Item</button>
                        </div>
                        <div id="messageforAddingItem"></div>
                    </form>

                </div>
            </div>

            <div class="col-md-4 edit-item-container">

                <h3>Edit Trending Item</h3>

                <div class="container-form">
                    <form id="trendingItemsEditingForm" method="post">
                        <label for="">Enter product name:</label>
                        <input id="editing_item_name" name="item_name" class="inputarea" type="text" placeholder="ex : shirt01">
                        <br>
                        <label for="">Enter product item ID :</label>
                        <input id="editing_item_id" name="item_id" class="inputarea" type="text" placeholder="ex : 10">
                        <br>
                        <label for="">New item quantity :</label>
                        <input id="editing_item_quantity" name="item_quantity" class="inputarea" type="text" placeholder="ex : 20">
                        <br>
                        <label for="">New price :</label>
                        <input id="editing_item_price" name="item_price" class="inputarea"type="text" placeholder="ex : 2500">
                        <br>
                        <label for="">New sold count :</label>
                        <input id="editing_item_sold_count" name="item_sold_count" class="inputarea" type="text" placeholder="ex : 10">
                        <br>

                        <label for="">Thumbmnail <br> Image name:</label>
                        <input id="thumbnail_img_name_forediting" name="item_thumbnail_img_name" class="inputarea" type="text" placeholder="block1.png">
                        <br>
                        <label for="">Thumbnail Image :</label>
                        <input id="thumbnail_img_forediting" name="item_thumbnail_img" class="imageinsert" type="file" accept="image/**">
                        <br><br>

                        <!--Image preview-->
                        <div class="preview-box">
                            <img id="thumbnail-image-preview_forediting" alt="preview">
                            <div class="image-name" id="thumbnail_img_display_name_forediting"></div>
                        </div>

                        <br>
                        <label for="">Detail <br> Image01 name:</label>
                        <input id="detail_img01_name_forediting" name="item_detail_img01_name" class="inputarea" type="text" placeholder="block1.png">
                        <br>
                        <label for="">Detail Image01 :</label>
                        <input id="detail_img01_forediting" name="item_detail_img01" class="imageinsert" type="file" accept="image/**">
                        <br><br>

                        <!--detailed Image preview-->
                        <div class="preview-box">
                            <img id="detail-image01-preview_forediting" alt="preview">
                            <div class="image-name" id="detail_img01_display_name_forediting"></div>
                        </div>

                        <br>
                        <label for="">Detail <br> Image02 name:</label>
                        <input id="detail_img02_name_forediting" name="item_detail_img02_name" class="inputarea" type="text" placeholder="block1.png">
                        <br>
                        <label for="">Detail Image02 :</label>
                        <input id="detail_img02_forediting" name="item_detail_img02" class="imageinsert" type="file" accept="image/**">
                        <br><br>

                        <!--detailed Image preview-->
                        <div class="preview-box">
                            <img id="detail-image02-preview_forediting" alt="preview">
                            <div class="image-name" id="detail_img02_display_name_forediting"></div>
                        </div>


                        <div class="btn-area">
                            <button type="submit" class="btn btn-secondary">Edit Item</button>
                        </div>
                        <div id="messageforEditingItem"></div>
                    </form>

                </div>
            </div>

            <div class="col-md-4 delete-item-container">

                <h3>Delete an Trending Item</h3>

                <div class="container-form ">
                    <form id="trendingItemsDeletingForm">
                        <label for="">Enter item ID :</label>
                        <input id="deleting_item_id" name="item_id" class="inputarea" type="text" placeholder="ex : 10">

                        <br>
                        <div class="btn-area">
                            <button type="submit" class="btn btn-secondary">Delete Item</button>
                        </div>
                        <div id="messageforDeletingItem"></div>
                    </form>

                </div>
            </div>
        </div>

    </div>
</section>

<section class="py-5">

    <div class="container-fluid addprodcution-bannerproducts">

        <div class="banner01">

        </div>

        <div class="banner02">

        </div>

        <div class="banner03">

        </div>

    </div>
</section>

<section class="py-2">
    <div class="container-fluid sold-item-container">


    </div>
</section>

<section class="py-3">
    <div class="container-fluid customer-details-container">
        <h3 class="py-3" style="text-align: center;"><u>Customer details</u></h3>
        <button class="btn btn-danger mb-3" id="showingALlTheCustomers">Show All customers</button>
        <table class="table table-bordered table-striped table-hover">
            <thead class="table-dark">
            <tr>
                <th>Cust-ID</th>
                <th>Cust-name</th>
                <th>Cust-mail</th>
                <th>Cust-phone</th>
            </tr>
            </thead>
            <tbody id="show-all-customers-table-body">

            </tbody>
        </table>
    </div>
</section>

<div class="chat-box container-fluid" id="chatWidget">

    <div class="container chat-container">
        <div class="row">
            <div class="col">

            </div>
            <div class="col">
                <div class="select-chat-header">
                    Select a chat
                </div>

                <div class="chat-list">
                    <div class="select-chat-person">semon <span class="count-of-messages">2</span></div>
                    <div class="select-chat-person">lilly <span class="count-of-messages">2</span></div>

                </div>
            </div>
            <div class="col">
                <div class="chat-widget" >

                    <div class="chat-header">
                        Reply to the Customer
                    </div>

                    <div class="chat-messages" id="chatMessages">
                        <div class="message admin">
                            <div class="message-content">Hello how can i help you...</div>
                        </div>
                    </div>

                    <div class="typing-indicator" id="typingIndicator">
                        Customer is typing...
                    </div>

                    <div class="chat-input" id="chatInput">
                        <span><input type="text" id="messageInput" placeholder="Type here" onkeypress="handleKeyPress(event)"></span>
                        <span></span><button class="send-button" onclick="sendMessage()" style="border: none;"><i class="bi bi-arrow-up-right-circle-fill"></i></button></span>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>

<button class="chat-toggle" onclick="toggle()">
    <div class="chat-icon-space">
        <div class="chat-outerlayer">
            <div class="chat-icon">
                <i class="bi bi-chat-text-fill"></i>
            </div>
        </div>
    </div>
</button>

<script src="/js/AdminDash.js"></script>
<!--Admin Chat JS-->
<script src="/js/adminchat.js"></script>

</body>
</html>