<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Customer Login</title>
    <link rel="stylesheet" href="css/CustomerLogin.css">
    <!--Bootsrtrap CDN-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"></head>
<body class="body">

<div th:value="${SignupSucceedMessage}" class="alert alert-success" id="successmessage" role="alert">
    <h4 class="alert-heading">Well done!</h4>
    <p>Aww yeah, you have successfully completed Signup. Please Login Again.</p>
    <hr>
    <p class="cloraalert">Clora</p>
</div>

<p id="clora">Clora</p>

    <div class="container">

        <h2 id="">Purchase Your Dream T Shirt . . . </h2>
    <div class="row">
        <div class="col-sm"></div>

        <div class="col-sm">
            <div class="logincontainer">
                <form th:action="@{/login}" method="post">

                    <input class="inputarea" type="mail" placeholder="Enter Your Email" name="mail">
                    <input class="inputarea" type="password" placeholder="Enter Your Password" name="password">

                    <div class="buttonarea">
                    <button class="button" type="submit">Log in</button>
                    </div>

                    <p class="signuplink">If you haven't sign up still. hurry sign up <a href="CustomerSignup">here.</a> </p>
                </form>
            </div>

        </div>

        <div class="col-sm"></div>
    </div>
    </div>




<script src="js/CustomerLogin.js"></script>
</body>
</html>